@media (min-width: 320px) and (max-width: 374.98px){



}
@media (min-width: 375px) and (max-width: 414.98px){
	/* footer menu */
	.footer{
    background-color: #fff;
    min-height: calc(100vh - 515px);
	}
	.min-l{
		min-height: calc(90vh - 455px) !important;
	}
	/* dropdown */
	.dropdown-menu {
    margin-left: -105px !important;
}
	

}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)  { 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   
	}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
   
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	



}
